# The house of greatness. Central home of all.
server {
        listen 80;
        listen [::]:80;

        server_name *.alyxia.dev alyxia.dev;

        root /home/lexisother/Documents/gitrepos/lexisother.tk/public;

	index index.html;
}
