server {
  listen 80;
  listen [::]:80;
  server_name git.alyxia.dev;

  # add_header X-Frame-Options "SAMEORIGIN";
  # add_header X-Content-Type-Options "nosniff";

  location / {
    proxy_pass http://localhost:3722;
    proxy_set_header Host $host;
    # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    # proxy_set_header X-NginX-Proxy true;
    # proxy_ssl_session_reuse off;
    # proxy_set_header Host $http_host;
    # proxy_redirect off;
  }

  location /users/sign_in {
    proxy_pass http://localhost:3722/users/sign_in;

    sub_filter '<img class="brand-header-logo' '<img title="He watches." class="brand-header-logo';

    sub_filter '<h1 class="mb-3 font-weight-normal">
GitLab' '<h1 class="mb-3 font-weight-normal">DogeInGlasses';

    sub_filter '<p>
GitLab is a single application for the entire software development lifecycle. From project planning and source code management to CI/CD, monitoring, and security.
</p>' '<img src="https://public.alyxia.dev/okay.gif" />';
  }
}
